# Add a new security realm
/core-service=management/ \
  security-realm=UndertowRealm \
    :add()

# Configure the security realm for our keystore
/core-service=management/ \
  security-realm=UndertowRealm/ \
    server-identity=ssl \
      :add(keystore-path={{ keycloak_keystore_name }}, \
           keystore-relative-to=jboss.server.config.dir, \
           alias={{ keycloak_tls_pkcs12_alias }}, \
           keystore-password={{ keycloak_tls_pkcs12_passphrase }})

#  Enable https listener for the new security realm
/subsystem=undertow/ \
  server=default-server/ \
    https-listener=https \
      :write-attribute(name=security-realm, \
                       value=UndertowRealm)
